/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact,#connexion {
	width: 50%;
margin: auto;
}
#contact,#connexion > * {
	text-align: center;

}
#contact h2,#connexion h2{
	margin-bottom: 20px;
}
#contact form,#connexion form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,#connexion input, #input-titre, #categorie-selection {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,#connexion label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.message-erreur{
	color: red;
	display: none;
}
input[type="submit"],.btn-ajouter-photo{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

a{
	color: #3D3D3D;
	text-decoration: none;
}
.mot-de-passe-oublie{
	text-align: center;
	text-decoration: underline;
}

/*Barre mode admin en haut*/
.mode-admin {
	background-color: #000000;
	display: none;
	flex-direction: row;
	justify-content: center;
	padding: 1em;
}

.mode-admin p{
	background-color: #000000;
	color: #FFFF;
	border: none;
}
.projet{
	display: flex;
	justify-content: center;
}
/*Bouton modifier a côté de projet*/
.modifier{
	border: none;
	cursor: pointer;
	width: 18%;
	height: 1.5em;
	display: none;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	margin: 0.5em 0 0 0.5em;
	background-color: #FFFF;

}
.bxr{
	margin: 0.1em 0.5em 0 2em;
}
/*Style conteneur modal*/
.modal{
	background-color: rgba(0, 0, 0, 0.3);
	height: 100vh;
	width: 100vw;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.contenu-modal{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    position: absolute;
    top: 50%;       
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 39em;
	height: 40em;
    padding: 1.5em;
    background-color: #FFFFFF;
	border-radius: 0.6em;
}

#gallerie-modal {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3em;
    justify-content: flex-start;
}
figure {
    position: relative; 
    display: inline-block;
}

.bx-trash {
    padding: 0.2em;
    font-size: 1em;  
    color: white;
    background-color: #000000;
    position: absolute;
    top: 1em;   
    right: 0.5em; 
    cursor: pointer;
}

.image-modal{
	width: 6.2em;
	height: 100%;
	justify-content: center;
	border: 1px solid black;
}

hr{
	width: 50%;
}

.fermer-modal{
	margin-top: -1em;
}
.fermer-modal, .retour-modal{
	background-color: #FFFFFF;
	border: none;
	cursor: pointer;
	width: 1em;
	height: 1em;
	align-self: flex-end;
}

.titre-galerie{
	font-size: 1.6em;
	align-self: center;
	margin-bottom: 1em;
}

.btn-ajouter-photo{
	width: 50%;
	padding: 0.5em;
	margin-top: 0;
}

/*Style formulaire d'ajout de photo*/
.formulaire-ajout-photo{
	display: flex;
	flex-direction: column;
}

.retour-modal{
	align-self: flex-start;
}

.titre-form{
    font-family: 'Work Sans';
    font-size: 1.6em;
	text-align: center;
}
.apercu-photo{
	margin: 1em;
	background-color: #E8F1F6;
	width: 26em;
	height: 10em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 0.18em;
	padding: 0.5em;
}
.apercu-photo p{
	font-size: 0.63em;
}
.choix-photo{
	background-color: #CBD6DC;
	padding: 1em;
	border-radius: 3em;
	cursor: pointer;
}
.fa-image{
	color: #B9C5CC;
	font-size: 4em;
}

input[type="file"]{
	display: none;
}

.info-photo{
	display: flex;
	flex-direction: column;
}
.titre{
	font-size: 1.2em ;
}
.texte-option{
	font-size: 0.8em;
}
#input-titre,#categorie-selection{
	align-self: center;
	width: 22em;
	height: 3.18em;
	margin: 0.2em 0 1em 0;
	background-color: #FFFFFF;
}
.hr-form{
	width: 22em;
	margin-bottom: -0.5em;
}

.btn-valider{
	padding: 0.5em;
}